<<<<<<< Updated upstream
{{>navbar}}
=======
<div class="fullbody">

    <div class="container-fluid">

        <nav class="navbar  navbar-expand-lg bg-primary ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/images/logo.png" alt="" width="30" height="24">
                </a>
                <a class="navbar-brand font-weight-bold" href="#">Shastri</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link  " id="dashboard-txt" href="/">DashBoard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  " id="dashboard-txt" href="/commands">Commands</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " id="dashboard-txt" href="#">
                                Invite
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="dashboard-txt" class="nav-link disabled ">Donate</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        {{!-- Navbar End --}}

        {{!-- Image Card --}}

        <div class="row">
            <div id="imgpane" class="col-lg-4">
                <div class="imglogo text-center">
                    <img src="/images/logo.png" class="text-lg-center img-fluid" alt="">
                </div>
            </div>
            <div id="text-part" class="col-lg-8">
                <h2> Shastri Discord Bot</h2>
                <p class="text-lg-center"> A fully customizable server moderation Discord bot for your
                    Discord server that features a lot of
                    unique commands. <br>Server management just got a whole lot easier.</p>
            </div>
        </div>

    </div>

</div>
<link rel="stylesheet" href="/stylesheets/style.css">
>>>>>>> Stashed changes
