<div class="fullbody">

    <div class="container-fluid">
        {{>navbar}}

        {{!-- Navbar End --}}


        {{!-- Image Card --}}

        <div class="row">
            <div id="imgpane" class="col-lg-4">
                <div class="imglogo text-center">
                    <img src="/images/logo.png" class="text-lg-center img-fluid" alt="">
                </div>
            </div>
            <div id="text-part" class="col-lg-8">
                <h2> Shastri Discord Bot</h2>
                <p class="text-lg-center"> A fully customizable server moderation Discord bot for your
                    Discord server that features a lot of
                    unique commands. <br>Server management just got a whole lot easier.</p>
                <div class="img-fluid">
                    <img class="img-fluid" src="/images/discord.png" alt="">
                </div>
                <br><br><br><br><br>
                <div style="margin-bottom: 50px;" class="indexfoot text-center">
                    <a href="/" class=" seefeaturebtn btn btn-primary btn-lg">Invite Me </a>
                    <a href="/" style="margin-top: 20px;" class="seefeaturebtn btn btn-primary btn-lg"> See Features</a>
                </div>
            </div>

        </div>

    </div>

</div>
<link rel="stylesheet" href="/stylesheets/style.css">