body {
    background-color: #202020;
    height: 100%;
}

.fullbody {
    background: #202020;
    height: auto;
}

.container {
    height: auto;

}

.navbar {
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    color: #ffff;
    margin-bottom: 50px;
}

.row {
    display: flex;
    position: relative;
}

h2 {
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
    background: white;
    font-family: monospace;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 70px;
}

p {
    text-align: center;
    margin-top: 20px;
    color: #ffff;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    word-wrap: break-all;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}

.imgpane {
    height: auto;
    width: auto;
}

#dashboard-txt {
    font-size: 18px;
    color: white;
    font-weight: 550;
}

#discordimg {
    margin-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #5e6472;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}

#invitebtn {
    text-align: center;
    align-items: center;
}

.cmdheading {
    color: #48abe0;
    align-items: center;
    text-align: center;
}
.card{
    margin-bottom: 50px;
}
.indexfoot{
    text-align: center;
 word-spacing: 10px;
}
.seefeaturebtn{
    background: url('https://styles.redditmedia.com/t5_3b1wr/styles/communityIcon_qdbg6bz0bud71.png?width=256&s=ccf3d06bf3b8056f312f207c7ce906cf69af6efd') #4ba3eb;
    background-repeat: no-repeat;
    background-size: 39px 43px;
    padding-left: 41px;
    color: #000;
}